
<div class="col-md-9">
  <breadcrumb></breadcrumb>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary">Trello Board Lists</button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <div *ngFor="let board of boardsIDs">
      <a class="dropdown-item" href="#">{{board}}</a>
      <div class="dropdown-divider"></div>
    </div>
    </div>
  </div>
</div>
<user-profile [userProfile]="userInfo"></user-profile>
