<section>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Trello Report</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav pull-right">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link btn btn-login" routerLink="/" routerLinkActive="active" (click)="login()">Log in with Trello</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-md-12">
    <h1 id="title">Trello-Helper read your Trello Activity and generate custom <br/>
      report and get more done.
    </h1>
  </div>
  <div class="pull-right">
    <img class="img img-responsive" src="../../img/trello.png" alt="landing-image"/>
  </div>
</section>

<!-- <footer>
  <p>
    as
  </p>
</footer> -->
